<h1 class="bg-faded">Admins</h1>
<hr>
<ul class="list-group">
<% @admins.each do |admin| %>
<li class="list-group-item bg-faded"><%= link_to admin.full_name, edit_admin_path(admin) %></li>
<% end %>
</ul>
