<!-- Before votting header -->
<% if current_student.cohort.stage_id == 0 %>
  <h2>List of Project Pitches</h2>
  <% if current_student.cohort.pitch_limit > current_student.pitches.count %>
    <%= link_to("New Pitch", new_pitch_path) %> <br>
  <% end %>
<% elsif current_student.cohort.stage_id == 1 %>
  <h2>Submitted Pitches</h2>
<% end %>


<% if @pitches %>
  <% @pitches.each_with_index do |pitch, index| %>
    <%= link_to("#{ index + 1 }. #{pitch.name}", pitch_path(pitch.id))%> 

<!-- Changes just in round 0 -->
  <% if current_student.cohort.stage_id == 0 %>
    <%=  link_to("edit", edit_pitch_path(pitch.id)) %> <%= link_to("delete", pitch_path(pitch.id) , method: "delete") %> 
  <% end %>
  <br>
  <hr>
  <% end %>
<% end %>
<br>

