<!-- Just edit in round 0  -->


Pitch name: <%= @pitch.name %><% if current_student.cohort.stage_id == 0 %>
    <%= link_to("edit", edit_pitch_path(@pitch.id)) %> <br>
  <% end %>
<div class="show-text-in hidden">
  <%= @pitch.description %> 
  
</div>

<div class="html"> </div>

